.preview-box {
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 25px 50px;
  padding: 2px;
  /* background: #fff; */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25); /* 👈 box shadow */
}

.preview-box img {
  width: 200px;
  height: 200px;
  object-fit: cover; /* keeps proportions inside box */
  border-radius: 25px 50px;
  display: block;
}
